environs==9.5.0
pydantic==1.10.13
fastapi==0.108.0
uvicorn==0.25.0
gundi-client-v2==2.1.7
https://github.com/PADAS/smartconnect-client/releases/download/v1.5.1/smartconnect_client-1.5.1-py3-none-any.whl
httpx==0.24.1
